@import "./variables.scss";
@import "./tooltips.scss";

@import "./table.scss";

.#{$prefix}-filters {
  display: flex;
  justify-content: end;
  margin: 1em;
}

.#{$prefix}-icon {
  display: inline-block;
  margin: 0;

  &:hover {
    cursor: pointer;

    svg path {
      fill: $tooltip_bg;
    }
  }
}

@import "./pagination.scss";