@import "./variables.scss";
@import "./tooltips.scss";

.#{$prefix}-table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  border-radius: 1em;

  th,
  td {
    border: 1px solid $table_secondary_color;

    figure {
      display: inline;
      margin: 0;

      &:hover {
        svg path {
          fill: $tooltip_bg;
        }
      }
    }

    &.#{$prefix}-center {
      text-align: center;
    }

    .#{$prefix}-action {
      &:hover {
        cursor: pointer;
      }
    }
  }

  tbody tr {
    &:nth-of-type(even) {
      background-color: $table_secondary_color;
    }
  }
}
