@import "./variables.scss";
@import "./tooltips.scss";

@import "./table.scss";

.#{$prefix}-filters {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.#{$prefix}-icon {
  display: inline-flex;
  margin: 0;

  svg {
    margin: auto;
  }

  &:hover {
    cursor: pointer;

    svg path {
      fill: $tooltip_bg;
    }
  }
}

// .#{$prefix}-search-wrapper {
//   display: inline-flex;
//   align-items: center;

//   figure {
//     background-color: #ddd;
//     border: 1px solid #000;
//     margin: 0;
//   }
// }

@import "./pagination.scss";
