@import "./variables.scss";

.#{$prefix}-table {
  display: grid;
  background-color: #fff;
  border-collapse: collapse;

  thead tr,
  tbody tr {
    display: grid;
    grid-template-columns: 6fr 6fr;
  }

  thead th {
    &:not(:last-child) {
      border-right: 1px solid $table_border;
    }

    border-bottom: 1px solid $table_border;
  }

  tbody tr {
    td {
      &:not(:last-child) {
        border-right: 1px solid $table_border;
      }

      border-bottom: 1px solid $table_border;
    }

    &:last-child {
      td {
        border-bottom: unset;
      }
    }

    &:nth-of-type(odd) {
      background-color: $table_secondary_color;
    }
  }
}

.#{$prefix}-table-categories {
  thead tr,
  tbody tr {
    display: grid;
    grid-template-columns: 8fr 4fr;
  }
}

.#{$prefix}-table-products {
  thead tr,
  tbody tr {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 2fr 4fr;
  }

  td {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &.text-bold {
      font-weight: 700;
    }
  }
}

.#{$prefix}-center {
  text-align: center;
}
