[data-tooltip] {
  position: relative;
  color: #ff4500;
  text-decoration: none;
}

[data-tooltip]:hover:before, [data-tooltip]:focus:before {
  opacity: 1;
  transform: translate(-50%, -10px);
}

[data-tooltip]:hover:after, [data-tooltip]:focus:after {
  opacity: 1;
  transform: translate(-50%, -10px) rotate(45deg);
}

[data-tooltip]:before {
  position: absolute;
  z-index: 2;
  white-space: nowrap;
  content: attr(data-tooltip);
  bottom: 100%;
  left: 50%;
  padding: 0.5em 1em;
  color: white;
  font-size: 0.8em;
  line-height: 1.7em;
  background-color: #ff4500;
  transition: transform 0.2s ease-out;
  opacity: 0;
  transform: translate(-50%, 0);
  pointer-events: none;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

[data-tooltip]:after {
  position: absolute;
  z-index: 3;
  display: block;
  bottom: 100%;
  left: 50%;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ff4500;
  margin-bottom: -4px;
  transform: translate(-50%, 0) rotate(45deg);
  transition: transform 0.2s ease-out;
  opacity: 0;
  pointer-events: none;
}

[data-tooltip].break:before {
  white-space: normal;
  width: 360px;
}

.sm-shop-table {
  display: grid;
  background-color: #fff;
  border-collapse: collapse;
}

.sm-shop-table thead tr,
.sm-shop-table tbody tr {
  display: grid;
  grid-template-columns: 6fr 6fr;
}

.sm-shop-table thead th {
  border-bottom: 1px solid red;
}

.sm-shop-table thead th:not(:last-child) {
  border-right: 1px solid red;
}

.sm-shop-table tbody tr td {
  border-bottom: 1px solid red;
}

.sm-shop-table tbody tr td:not(:last-child) {
  border-right: 1px solid red;
}

.sm-shop-table tbody tr:last-child td {
  border-bottom: unset;
}

.sm-shop-table tbody tr:nth-of-type(odd) {
  background-color: #ddd;
}

.sm-shop-table-categories thead tr,
.sm-shop-table-categories tbody tr {
  display: grid;
  grid-template-columns: 8fr 4fr;
}

.sm-shop-table-products thead tr,
.sm-shop-table-products tbody tr {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 2fr 4fr;
}

.sm-shop-table-products td {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sm-shop-table-products td.text-bold {
  font-weight: 700;
}

.sm-shop-center {
  text-align: center;
}

.sm-shop-filters {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.sm-shop-icon {
  display: inline-flex;
  margin: 0;
}

.sm-shop-icon svg {
  margin: auto;
}

.sm-shop-icon:hover {
  cursor: pointer;
}

.sm-shop-icon:hover svg path {
  fill: #ff4500;
}

.sm-shop-paginate {
  margin: 1em 0;
  display: flex;
  justify-content: center;
}

.sm-shop-paginate span {
  margin: 0 0.25rem;
}
